<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztj.hcboot.mapper.SeckillGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ztj.hcboot.pojo.SeckillGoods">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="seckill_price" property="seckillPrice" />
        <result column="stock_count" property="stockCount" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
    </resultMap>

    <select id="findSeckillGoodsStock" resultType="java.lang.Integer">
        select
            stock_count
        from t_seckill_goods
        where id = #{goodsId}
    </select>

    <update id="updateStock">
        update t_seckill_goods
        set stock_count = stock_count - 1
        where goods_id = #{goodsId} and stock_count > 0
    </update>
</mapper>
